<h1><%= @studio.name %></h1>

<p>Location: <%= @studio.location %>

<h3>All Movies</h3>

<% @movies.each do |movie| %>
  <p><%= movie.title %></p>
<% end %>

<h3>All Actors</h3>

<% @actors.each do |actor| %>
  <p><%= actor.name %></p>
<% end %>
